.message {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.mTitle {
    font-size: 35px;
}
.mText {
    font-size: 20px;
}


.list {
    display: flex;
    flex-direction: column;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    color: var(--white);
    margin: 5px;
    padding: 5px;
}

.itemImage{
    width: 250px;
    height: 125px;
    object-fit: cover;
    object-position: center;
}

.itemContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.titleContainer {
    flex-grow: 1;
    margin: 15px;
}

.itemTitle {
    font-size: 35px;
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.quantityButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 48px;
    background-color: var(--grayBrown);
    cursor: pointer;
}

.quantityCount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 75px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    background-color: var(--grayBrown);
}

.priceContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 110px;
    margin-left: 20px;
    font-size: 30px;
    white-space: nowrap;
}

.whiteLine {
    margin: 30px 20px;
    border: 1px solid var(--white);
}

.totalPriceContainer {
    display: flex;
    justify-content: flex-end;
}

.totalPrice {
    margin-right: 30px;
    font-size: 30px;
    white-space: nowrap;
    color: var(--white);
}

.buyButtonContainer {
    display: flex;
    justify-content: end;
}
