.button {
    min-width: 100px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 18px;
}
.notActive{
    cursor: default !important;
    color: var(--grayBrown) !important;
    background: rgba(255, 255, 255, 0.5) !important;
}
.buttonSkeleton {
    border: 1px solid var(--almostBlack);
}
.grayButton {
    color: var(--white);
    background-color: var(--grayBrown);
}
.grayButtonSkeleton {
    border: 1px solid var(--almostBlack);
}
.blackButton {
    color: var(--white);
    background-color: var(--almostBlack);
}
.blackButtonSkeleton {
    border: 1px solid var(--almostBlack);
}
.whiteButton {
    color: var(--almostBlack);
    background-color: var(--white);
}
.whiteButtonSkeleton {
    border: 1px solid var(--almostBlack);
}
.outlineButton {
    color: var(--almostBlack);
    background: none;
    border: 1px solid var(--almostBlack);
}
.outlineButtonSkeleton {
    color: transparent;
}

.roundImageButton {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.roundImageButtonSkeleton {
    background-color: var(--grayBrown);
    border: 1px solid var(--almostBlack);
}

.buttonsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
}
.buttonsBoxRow {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.buttonsBoxItem {
    margin-right: 10px;
}
