.container {
    display: flex;
    flex-direction: column;
}

.textEmptyContainer {
    min-height: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--almostBlack);
}

.textEmpty {
    font-size: 25px;
    color: var(--white);
}

.itemContainer {
    height: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--white);
    background-color: var(--almostBlack);
}

.itemImage{
    height: 100px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.itemImageSkeleton{
    background-color: var(--grayBrown);
    border-right: 1px solid var(--almostBlack);
}

.itemTextContainer {
    flex: 1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.itemTitle {
    font-size: 22px;
}
.titleSkeleton{
    height: 30px;
    width: 220px;
    background-color: var(--grayBrown);
    border: 1px solid var(--almostBlack);
}

.platformsContainer {
    display: flex;
}

.platform {
    margin-right: 12px;
}
.platformOneSkeleton {
    height: 20px;
    width: 50px;
    background-color: var(--grayBrown);
    border: 1px solid var(--almostBlack);
}
.platformTwoSkeleton {
    height: 20px;
    width: 110px;
    background-color: var(--grayBrown);
    border: 1px solid var(--almostBlack);
}
