.account-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--almostBlack);
    color: var(--white);
}

.account-container .column-one {
    margin: 15px;
    flex: 55;
    display: flex;
    flex-direction: column;
}

.account-container .user-container {
    display: flex;
    flex-direction: row;
}

.account-container .user-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.account-container .user-container .content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.account-container .user-container .content .line {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-container .user-container .content .line .edit-button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.account-container .bought {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: var(--grayBrown);
}

.account-container .bought .bought-title {
    cursor: pointer;
}

.account-container .bought .bought-list {
    padding: 10px;
}

.bought-item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: var(--almostBlack);
    cursor: pointer;
}

.bought-item img{
    height: 100px;
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.bought-item .bought-item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bought-item .bought-item-content .bought-item-title {
    font-size: 17px;
    text-align: center;
}

.bought-item .bought-item-content .bought-item-bought-at {
}

.account-container .column-two {
    margin: 15px;
    flex: 45;
    display: flex;
    flex-direction: column;
}

.basket-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.basket-item img {
    height: 70px;
    width: 150px;
    object-fit: cover;
    object-position: center;
}

.basket-item .basket-item-title {
    margin-left: 15px;
}

.wishlist {
    margin-top: 20px;
}

.basket, .wishlist {
    text-align: center;
    background-color: var(--grayBrown);
}

.basket .title, .wishlist .title{
    font-size: 20px;
    cursor: pointer;
}
