.game-list {
    display: flex;
    flex-direction: column;
}

.game-item {
    margin-top: 10px;
}

.bg-almostBlack .game-list {
    background-color: var(--almostBlack);
}

.bg-grayBrown .game-list {
    background-color: var(--grayBrown);
}
