@import "colors.css";

body {
    font-family: inter, sans-serif;
}

.bg-white {
    background-color: var(--white);
}

.bg-grayBrown {
    background-color: var(--grayBrown);
}

.bg-almostBlack {
    background-color: var(--almostBlack);
}

.bg-black {
    background-color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-grayBrown {
    color: var(--grayBrown);
}

.color-almostBlack {
    color: var(--almostBlack);
}

.color-black {
    color: var(--black);
}

.cursor-pointer{
    cursor: pointer;
}

.white-button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--grayBrown);
}
