@import "colors.css";

/*Globals*/

.bg-white {
    background-color: var(--white);
}

.bg-grayBrown {
    background-color: var(--grayBrown);
}

.bg-almostBlack {
    background-color: var(--almostBlack);
}

.bg-black {
    background-color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-grayBrown {
    color: var(--grayBrown);
}

.color-almostBlack {
    color: var(--almostBlack);
}

.color-black {
    color: var(--black);
}

.cursor-pointer{
    cursor: pointer;
}
