@import "colors.css";

body {
    font-family: inter, sans-serif;
}

.page-content {
    margin: 10px 0;
    padding: 10px 10px;
}

.bg-white {
    background-color: var(--white);
}

.bg-grayBrown {
    background-color: var(--grayBrown) !important;
}

.bg-almostBlack {
    background-color: var(--almostBlack);
}

.bg-black {
    background-color: var(--black);
}

.bg-none {
    background: none;
}

.color-white {
    color: var(--white);
}

.color-grayBrown {
    color: var(--grayBrown);
}

.color-almostBlack {
    color: var(--almostBlack);
}

.color-black {
    color: var(--black);
}

.cursor-pointer{
    cursor: pointer;
}

.gray-button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--grayBrown);
}
