.header {
    border-bottom: 3px solid var(--almostBlack);
}

.brand {
    font-weight: 700;
    font-size: 25px;
    font-family: livvic, sans-serif;
}

.navbar-nav .nav-link.active {
    border-bottom: 3px solid var(--almostBlack);
}

.my-nav-link.active {
    font-weight: bold;
    color: gray;
}

.profile-auth-btn {
    display: inline-block;
    padding: 1px 15px;
    border: 1px solid var(--almostBlack);
    border-radius: 4px;
    background: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--almostBlack);
}

.profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
