.search-input {
    position: relative;
    display: inline-block;
}

.search-input input {
    padding-right: 2em;
}

.search-input .search-icon {
    position: absolute;
    z-index: 900;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    color: var(--almostBlack);
    cursor: pointer;
}

.search-input.width-grow {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.search-input.width-grow input {
    padding-right: 2em;
    width: 100%;
}
