.slider {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--almostBlack);
}

.slider .navigation {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 85%;
}

.slider button {
    border: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    background-color: var(--grayBrown);
    color: var(--white);
}

.slider .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

.slider .image-container {
    flex: 75;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
}

.slider .details {
    flex: 25;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--grayBrown);
    color: var(--white);
    overflow: hidden;
}

.slider .price {
    align-self: center;
    padding: 6px;
    padding-inline: 20px;
    background-color: var(--white);
    color: var(--almostBlack)
}

.slider .description {
    margin-top: 5px;
    flex: 1 1 auto;
    overflow: hidden;
}

.slider .description-text {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider .platforms {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.slider .platform {
    margin-right: 5px;
}

.slider .dots {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.slider .dot {
    margin: 5px;
    margin-inline: 12px;
    width: 30px;
    height: 15px;
    background-color: var(--grayBrown);
    cursor: pointer;
}

.slider .dot.active {
    background-color: var(--black);
}

.slider.small{
    font-size: 10px;
    height: 300px;
}



.slider.small .description-text {
    -webkit-line-clamp: 12;
}
